/* Positioning */
.content {
  margin-left: 10px;
  display: inline-block;
}

.content-child {
  margin-left: 10px;
  display: inline-block;
}

.inline {
  display: inline-block;
}

/* Title Style */
.group-title {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 29px;
}

.primary-title {
  color: rgb(137, 64, 151);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
}

.completed-title {
  color: rgb(33, 150, 83);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
}

.in-progress-title {
  color: rgb(137, 64, 151);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
}

.waiting-title {
  color: rgb(137, 64, 151);
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
}

/* Title Style Child */
.group-title.child {
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 29px;
}

.primary-title.child {
  color: rgb(137, 64, 151);
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
}

.completed-title.child {
  color: rgb(33, 150, 83);
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
}

.in-progress-title.child {
  color: rgb(137, 64, 151);
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
}

.waiting-title {
  color: rgb(137, 64, 151);
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
}

/* Step Base */

.step {
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.v-stepper {
  position: relative;
}

/* Circle & Line */
.circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px; /* +6 for border */
  height: 20px;
  display: inline-block;
}

.circle-title {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 14px; /* +6 for border */
  height: 14px;
  margin-left: 3px;
  margin-top: 4px;
}

.circle-title-child {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 14px; /* +6 for border */
  height: 14px;
  margin-left: 45px;
  margin-top: 4px;
}

.line {
  top: 10px;
  left: 11px;
  height: 42px;
  position: absolute;
}

.line-child {
  top: 24px;
  left: 52px;
  height: 90px;
  position: absolute;
  border-left: 5px solid gray;
}

.step.completed .circle,
.step.completed .circle-title,
.step.completed .circle-title-child {
  visibility: visible;
  background-color: rgb(33, 150, 83);
  border-color: rgb(33, 150, 83);
}

.step.completed .line {
  border-left: 5px solid rgb(33, 150, 83);
}

.step.in-progress .circle,
.step.in-progress .circle-title,
.step.in-progress .circle-title-child {
  visibility: visible;
  background-color: rgb(137, 64, 151);
  border-color: rgb(137, 64, 151);
}

.step.in-progress .line {
  border-left: 5px solid rgb(137, 64, 151);
}

.step.waiting .circle,
.step.waiting .circle-title,
.step.waiting .circle-title-child {
  visibility: visible;
  background-color: rgb(137, 64, 151);
  border-color: rgb(137, 64, 151);
}

.step.waiting .line,
.step.waiting .line-child {
  border-left: 5px solid rgb(137, 64, 151);
}

.step.empty-completed .line,
.step.empty-completed .line-child {
  border-left: 5px solid rgb(33, 150, 83);
  height: 180%;
}

.step.empty-in-progress .line,
.step.empty-in-progress .line-child {
  border-left: 5px solid rgb(137, 64, 151);
  top: 0;
  height: 180%;
}

.step.empty-waiting .line,
.step.empty-waiting .line-child {
  border-left: 5px solid rgb(137, 64, 151);
  top: 0;
  height: 180%;
}

.step.waiting .line,
.step.waiting .line-child {
  border-left: 5px solid rgb(137, 64, 151);
  top: 0;
  height: 180%;
}

.step.empty-completed .circle,
.step.empty-in-progress .circle,
.step.empty-waiting .circle {
  visibility: hidden;
}

.step.empty .line {
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

/* text Stepper*/
.text-completed {
  color: rgb(33, 150, 83);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}

.text-complete-child {
  color: rgb(33, 150, 83);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  padding-left: 40px;
}

.text-in-progress {
  color: rgb(137, 64, 151);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}

.text-waiting {
  color: rgb(137, 64, 151);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}
